.idea

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
/*.egg-info/
tilechips.egg-info/
tilechips.egg-info/*.*
.installed.cfg
*.egg


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

tilechips/__pycache__/